h1 {
    color:brown;
    background-color: lightblue;
    font-size: 36px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    background-color: lightblue;
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Broiled{
    color:lightpink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Apples{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Eggs{
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}